* {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑";
}
header {
  width: 100%;
  height: auto;
}
header nav {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
header nav .nav-logo {
  width: 270px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
header nav .nav-logo img {
  width: 255px;
  height: auto;
  margin: 0 auto;
  position: relative;
  top: -1px;
  left: -1px;
}
header nav .nav-content {
  flex: 1;
  height: 100%;
  margin-right: 0px;
}
header nav .nav-content ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}
header nav .nav-content ul li {
  list-style: none;
  width: 74px;
  text-align: center;
  margin: 0 21px;
}
header nav .nav-content ul li a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 85px;
  color: black;
}
header nav .nav-content ul .nav-active {
  border-bottom: 4px solid #FDA618;
}
header nav .nav-content ul .nav-active a {
  color: #FDA618;
  font-size: 18px;
}
header .banner {
  width: 100%;
  height: 570px;
  background: url(../img/banner.png) no-repeat;
  background-size: 100% 100%;
  margin-top: 1px;
}
footer .footer {
  width: 100%;
  height: auto;
  background: #2C2D32;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
footer .footer .f-content {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 40px 0;
}
footer .footer .f-content .fc-left {
  width: 470px;
  height: 185px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  font-size: 0;
}
footer .footer .f-content .fc-left p {
  text-align: center;
  color: white;
  font-size: 18px;
  margin-bottom: 20px;
}
footer .footer .f-content .fc-left img {
  width: 133px;
  height: 129px;
  margin: 0 auto;
}
footer .footer .f-content .fc-center {
  width: 150px;
  height: auto;
  text-align: center;
}
footer .footer .f-content .fc-center p {
  color: rgba(255, 255, 255, 0.5);
  margin: 10px 0;
  text-align: left;
  text-indent: 30px;
}
footer .footer .f-content .fc-center p:first-child {
  font-size: 18px;
  margin-bottom: 17px;
  margin-top: 0;
  color: white;
}
footer .footer .f-content .fc-right {
  flex: 1;
  height: auto;
  text-align: center;
  font-size: 0;
  display: flex;
  flex-flow: row;
  justify-content: center;
}
footer .footer .f-content .fc-right .fcr-pardon {
  width: 260px;
  height: auto;
}
footer .footer .f-content .fc-right .fcr-pardon p {
  text-align: left;
  color: white;
  font-size: 15px;
  text-indent: 30px;
  margin-bottom: 10px;
}
footer .footer .f-content .fc-right .fcr-pardon p:first-child {
  text-indent: 0;
  font-size: 18px;
  margin-bottom: 17px;
}
footer .footer .f-content .fc-right .fcr-pardon .fcr-item {
  position: relative;
}
footer .footer .f-content .fc-right .fcr-pardon .fcr-item i {
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
}
footer .footer .f-content .fc-right .fcr-pardon .fcr-item .ficr1 {
  width: 17px;
  height: 17px;
  background: url(../img/footer.png) no-repeat;
  background-size: auto 28px;
  background-position: -2px -7px;
}
footer .footer .f-content .fc-right .fcr-pardon .fcr-item .frci2 {
  width: 18px;
  height: 18px;
  background: url(../img/footer.png) no-repeat;
  background-size: auto 28px;
  background-position: -23px -7px;
}
footer .footer .f-content .fc-right .fcr-pardon .fcr-item .frci3 {
  width: 17px;
  height: 17px;
  background: url(../img/footer.png) no-repeat;
  background-size: auto 28px;
  background-position: -46px -7px;
}
footer .footer .f-content .fc-right .fcr-pardon .fcr-item .frci4 {
  width: 17px;
  height: 17px;
  background: url(../img/footer.png) no-repeat;
  background-size: auto 28px;
  background-position: -68px -7px;
}
footer .footer .f-content .fc-right .fcr-pardon .fcr-item .frci5 {
  width: 17px;
  height: 17px;
  background: url(../img/footer.png) no-repeat;
  background-size: auto 28px;
  background-position: -93px -6px;
}
footer .copyright {
  padding: 20px 0;
  background: #2C2D32;
}
footer .copyright p {
  text-align: center;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
}
