.banner {
  height: 400px !important;
  background: url(../img/banner.png) no-repeat;
  background-size: 100% auto !important;
  margin-top: 1px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.banner .title {
  width: 450px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 30px;
}
.banner .title2 {
  text-align: center;
  font-size: 14px;
  color: black;
  padding: 10px 0;
  width: 160px;
  background: white;
  margin: 0 auto;
  cursor: pointer;
}
section {
  width: 100%;
  height: auto;
  padding: 60px 0;
}
section h1 {
  font-size: 30px;
  color: black;
  text-align: center;
}
section .s-english {
  text-align: center;
  color: #b4b4b4;
}
section .s-introduce {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: 70px;
  padding-bottom: 60px;
  border-bottom: 1px solid #ededed;
}
section .s-introduce .si-left {
  width: 770px;
  height: auto;
  font-size: 14px;
  color: black;
}
section .s-introduce .si-left p:first-child {
  width: 770px;
  height: 206px;
  font-size: 14px;
  color: black;
  text-indent: 30px;
  line-height: 30px;
}
section .s-introduce .si-left p:last-child {
  width: 770px;
  height: 85px;
  font-size: 14px;
  color: black;
  text-indent: 30px;
  line-height: 30px;
  margin-top: 80px;
}
section .s-introduce .si-right {
  flex: 1;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}
section .s-introduce .si-right img {
  width: 335px;
  border: 5px solid #dee2e1;
}
section .s-company {
  width: 1200px;
  height: auto;
  margin: 0 auto;
}
section .s-company .sc-title {
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0 10px 0;
}
section .s-company .sc-introduce {
  width: 100%;
  height: auto;
  font-size: 14px;
  color: black;
  text-indent: 30px;
  line-height: 30px;
}
section .s-company .sc-img {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
section .s-company .sc-img .sci-left {
  width: 625px;
  height: auto;
}
section .s-company .sc-img .sci-right {
  width: 510px;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
section .s-company .sc-img .sci-right img {
  width: 100%;
  height: auto;
}
section .s-plan {
  font-size: 45px;
  width: 1200px;
  height: auto;
  margin: 80px auto;
  text-align: center;
  font-weight: normal;
}
section .s-scene {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
section .s-scene .ss-left {
  width: 570px;
  height: auto;
  font-size: 25px;
  text-align: center;
  margin: 10px 0;
}
section .s-scene .ss-right {
  width: 570px;
  height: auto;
  font-size: 25px;
  text-align: center;
  margin: 10px 0;
}
section .s-scene .ss-bottom {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
section .s-scene .ss-bottom .ssb-left {
  width: 725px;
  height: auto;
}
section .s-scene .ss-bottom .ssb-left img {
  width: 100%;
  height: auto;
}
section .s-scene .ss-bottom .ssb-right {
  width: 405px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
section .s-scene .ss-bottom .ssb-right img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1024px) {
  .banner .b-title {
    width: 100%;
  }
  section h1,
  section .s-english {
    font-size: 30px;
  }
  section .s-introduce {
    width: 100%;
    flex-wrap: wrap;
  }
  section .s-introduce .si-left {
    width: 90%;
    margin: 0 auto;
  }
  section .s-introduce .si-left p {
    font-size: 20px !important;
    height: auto !important;
  }
  section .s-introduce .si-right {
    flex: initial;
    width: 80%;
    margin: 40px auto;
  }
  section .s-introduce .si-right img {
    width: auto;
    height: 600px;
    margin: 0 auto;
  }
  section .s-company {
    width: 100%;
  }
  section .s-company .sc-title {
    font-size: 25px;
    text-indent: 50px;
  }
  section .s-company .sc-introduce {
    width: 90%;
    font-size: 20px;
    margin: 0 auto;
  }
  section .s-company .sc-img {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  section .s-company .sc-img .sci-left {
    width: 80%;
  }
  section .s-company .sc-img .sci-left img {
    width: 100%;
    height: auto;
  }
  section .s-company .sc-img .sci-right {
    width: 80%;
    height: auto;
  }
  section .s-plan {
    width: 100%;
  }
  section .s-scene {
    width: 100%;
    justify-content: center;
  }
  section .s-scene .ss-left {
    width: 80%;
  }
  section .s-scene .ss-right {
    width: 80%;
  }
  section .s-scene .ss-bottom {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0;
  }
  section .s-scene .ss-bottom .ssb-left {
    width: 80%;
  }
  section .s-scene .ss-bottom .ssb-right {
    width: 80%;
    height: auto;
  }
  section .s-scene .ss-bottom .ssb-right img {
    width: 100%;
    height: auto;
  }
}
