.banner .b-content {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  justify-content: center;
}
.banner .b-content .bc-left {
  width: 600px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.banner .b-content .bc-left .bcl-title {
  font-size: 38px;
  color: black;
  text-align: center;
  font-weight: bold;
}
.banner .b-content .bc-left .bcl-title span {
  color: white;
  font-size: 64px;
}
.banner .b-content .bc-left .consulting {
  display: block;
  text-decoration: none;
  font-size: 21px;
  color: black;
  padding: 10px 0px;
  width: 235px;
  text-align: center;
  background: white;
  margin: 0 auto;
  margin-top: 40px;
}
.banner .b-content .bc-right {
  flex: 1;
  display: flex;
  flex-flow: row;
  justify-content: center;
}
.banner .b-content .bc-right .bcr-direction {
  width: 45px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  cursor: pointer;
}
.banner .b-content .bc-right .bcr-direction i {
  width: 45px;
  height: 45px;
  background: url(../img/banner-direction.png) no-repeat;
  background-size: auto 45px;
  background-position: 0 0;
}
.banner .b-content .bc-right .bcrd-right i {
  width: 45px;
  height: 45px;
  background: url(../img/banner-direction.png) no-repeat;
  background-size: auto 45px;
  background-position: -45px 0;
}
.banner .b-content .bc-right .brc-img {
  width: 350px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: relative;
}
.banner .b-content .bc-right .brc-img p {
  font-size: 25px;
  width: 30px;
  line-height: 40px;
  position: absolute;
  top: 120px;
  left: 25px;
  color: black;
  font-weight: bold;
}
.banner .b-content .bc-right .brc-img img {
  width: 310px;
  height: auto;
  border: 10px solid white;
  margin: 0 auto;
}
section {
  width: 100%;
  height: auto;
  padding: 50px 0;
}
section .s-title {
  font-size: 30px;
  width: 1200px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}
section .s-enterprise {
  width: 1200px;
  margin: 0 auto;
  height: auto;
  padding-bottom: 65px;
  border-bottom: 1px solid #DDDDDE;
}
section .s-enterprise .se-title {
  width: 100%;
  height: auto;
  border-left: 5px solid #FDA718;
  font-size: 0;
  line-height: 18px;
}
section .s-enterprise .se-title p {
  font-size: 17px;
  font-weight: bold;
  text-indent: 10px;
}
section .s-enterprise .se-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
section .s-enterprise .se-content .sec-left {
  width: 630px;
  height: auto;
}
section .s-enterprise .se-content .sec-left p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-indent: 30px;
  font-size: 13px;
  line-height: 25px;
  margin-top: 40px;
}
section .s-enterprise .se-content .sec-left a {
  text-decoration: none;
  position: relative;
  top: 112px;
  left: 565px;
  font-size: 13px;
  color: #FDA718;
}
section .s-enterprise .se-content .sec-left .sec-img {
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
section .s-enterprise .se-content .sec-left .sec-img img {
  width: 290px;
  height: auto;
}
section .s-enterprise .se-content .sec-right {
  width: 460px;
  height: auto;
}
section .s-enterprise .se-content .sec-right .secr-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 15px;
}
section .s-enterprise .se-content .sec-right img {
  width: 450px;
  height: auto;
  margin: 0 auto;
}
section .s-strategic {
  width: 1200px;
  margin: 0 auto;
  height: auto;
  padding-bottom: 65px;
  margin-top: 30px;
}
section .s-strategic .ss-title {
  width: 100%;
  height: auto;
  border-left: 5px solid #FDA718;
  font-size: 0;
  line-height: 18px;
}
section .s-strategic .ss-title p {
  font-size: 17px;
  font-weight: bold;
  text-indent: 10px;
}
section .s-strategic .ss-img {
  margin-top: 35px;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
section .s-strategic .ss-img .ssi-item {
  width: 410px;
  height: auto;
}
section .s-strategic .ss-img .ssi-item:last-child {
  width: 410px;
}
section .s-strategic .ss-img .ssi-item:first-child {
  width: 300px;
}
section .s-strategic .ss-img .ssi-item .ssii-img {
  width: 100%;
  height: auto;
  position: relative;
  font-size: 0;
}
section .s-strategic .ss-img .ssi-item .ssii-img .ssii-bounced {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
  opacity: 0;
  cursor: pointer;
}
section .s-strategic .ss-img .ssi-item .ssii-img .ssii-bounced p {
  text-align: center;
  font-size: 24px;
  color: white;
}
section .s-strategic .ss-img .ssi-item .ssii-img:hover .ssii-bounced {
  display: flex;
  opacity: 1;
}
section .s-strategic .ss-img .ssi-item .ssii-img img {
  width: 100%;
  height: auto;
}
section .s-strategic .ss-img .ssi-item .ssii-text {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}
section .s-strategic .ss-imgt {
  width: 100%;
  height: auto;
  margin-top: 0px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
section .s-strategic .ss-imgt .ssi-left {
  width: 630px;
  height: auto;
  position: relative;
}
section .s-strategic .ss-imgt .ssi-left span {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 14px;
  color: white;
}
section .s-strategic .ss-imgt .ssi-left img {
  width: 100%;
  height: auto;
}
section .s-strategic .ss-imgt .ssi-right {
  width: 515px;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
section .s-strategic .ss-imgt .ssi-right img {
  width: 100%;
  height: auto;
}
section .s-strategic .ss-bottomT {
  width: 100%;
  height: auto;
  position: relative;
}
section .s-strategic .ss-bottomT .ss-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  width: 1140px;
  font-size: 14px;
  margin-left: 5px;
  line-height: 25px;
  color: black;
}
section .s-strategic .ss-bottomT a {
  position: absolute;
  top: 28px;
  left: 1090px;
  color: #FDA718;
  font-size: 14px;
  text-decoration: none;
}
section .s-professional {
  width: 100%;
  height: auto;
  background: #F0F0F0;
  padding: 60px 0;
}
section .s-professional .sp-title {
  font-size: 20px;
  color: black;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}
section .s-professional .sp-english {
  font-size: 20px;
  color: #ADADAD;
  text-align: center;
}
section .s-professional .sp-content {
  width: 1200px;
  height: auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}
section .s-professional .sp-content .spc-item {
  width: 305px;
  height: 360px;
  background: white;
  margin: 20px 0;
}
section .s-professional .sp-content .spc-item .spci-img {
  width: 100%;
  height: 224px;
  overflow: hidden;
}
section .s-professional .sp-content .spc-item .spci-img img {
  width: 100%;
  height: auto;
}
