section {
    width: 100%;
    height: auto;
    .s-tab {
        width: 100%;
        height: auto;
        margin: 80px 0;
        display: flex;
        flex-flow: row;
        justify-content: center;
        .st-ltem {
            width: 230px;
            height: 65px;
            line-height: 65px;
            text-align: center;
            color: black;
            background: #EEEEEE;
            font-weight: bold;
            font-size: 32px;
            cursor: pointer;
        }
        .sti-active {
            color: black;
            background: #FC8A03;
        }
    }
    // 寰艺之星
    .s-huanyi {
        width: 1050px;
        height: auto;
        margin: 0 auto;
        display: block;
        .sh-title {
            text-align: center;
            margin-bottom: 80px;
            font-size: 40px;
            color: black;
        }
        .sh-imgs {
            width: 100%;
            height: auto;
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            .shi-left {
                width: 630px;
                height: auto;
                font-size: 0;
                .shil-item {
                    width: 100%;
                    height: auto;
                    .shili-title {
                        width: 100%;
                        padding: 10px 0;
                        background: #FC8A03;
                        color: white;
                        font-size: 23px;
                        text-indent: 20px;
                    }
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .shi-right {
                width: 388px;
                height: auto;
                font-size: 0;
                .shir-strong {
                    font-size: 30px;
                    text-align: center;
                    font-weight: bold;
                    margin: 16px auto;
                }
                .shir-item {
                    width: 100%;
                    height: auto;
                    .shiri-title {
                        width: 100%;
                        padding: 10px 0;
                        background: #FC8A03;
                        color: white;
                        font-size: 23px;
                        text-indent: 20px;
                    }
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
        h2 {
            text-align: center;
            font-size: 40px;
            margin: 80px;
            font-weight: normal;
        }
        .sh-text {
            width: 100%;
            height: auto;
            padding-bottom: 80px;
            .sht-item {
                width: 100%;
                height: auto;
                margin: 50px auto;
                .shti-title {
                    color: #FC8A03;
                    font-size: 20px;
                }
                .shti-text {
                    color: black;
                    font-size: 20px;
                }
            }
        }
    }
    // 韩国院校
    .s-guo {
        display: none;
        .sg-title {
            margin-top: 120px;
            text-align: center;
            font-size: 30px;
            color: black;
            span {
                color: #FC8A03;
            }
        }
        .sg-introdution {
            width: 1050px;
            height: auto;
            text-indent: 20px;
            margin: 0 auto;
            line-height: 30px;
            margin-top: 40px;
            span {
                font-weight: bold;
            }
        }
        .sg-shouer {
            width: 1032px;
            height: auto;
            margin: 0 auto;
            margin-top: 70px;
            .sgs-top {
                width: 1032px;
                height: auto;
                border: 1px solid #EEEEEE;
                border-bottom: none;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .sgs-imgs {
                width: 100%;
                height: auto;
                display: flex;
                flex-flow: row;
                justify-content: space-between;
                .sgs-left {
                    width: 510px;
                    height: auto;
                    display: flex;
                    flex-flow: column;
                    justify-content: space-between;
                    font-size: 0;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .sgs-right {
                    width: 514px;
                    height: 640px;
                    display: flex;
                    flex-flow: column;
                    justify-content: space-between;
                    font-size: 0;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
        h2 {
            text-align: center;
            font-size: 30px;
            margin: 100px 0 30px 0;
        }
        .sg-text2 {
            font-size: 14px;
            text-indent: 30px;
            line-height: 30px;
            width: 1032px;
            margin: 0 auto;
            span {
                font-weight: bold;
            }
        }
        .sg-end {
            width: 1032px;
            height: auto;
            margin: 55px auto;
            display: flex;
            flex-flow: row;
            justify-content: space-between;
        }
    }
}

//以下为响应式
@media screen and (max-width: 1024px) {
    section {
        .sg-title {
            font-size: 30px;
        }
        //寰艺之星
        .s-huanyi {
            width: 100%;
            height: auto;
            .sh-title {
                font-size: 30px;
            }
            .sh-imgs {
                display: block;
                width: 80%;
                height: auto;
                margin: 0 auto;
                .shi-left {
                    width: 100%;
                    height: auto;
                    .shil-item {
                        .shili-title {
                            font-size: 20px;
                        }
                    }
                }
                .shi-right {
                    width: 100%;
                    height: auto;
                    .shir-item {
                        .shiri-title {
                            font-size: 20px;
                        }
                    }
                }
            }
            .sh-text{
                width: 90%;
                height: auto;
                margin: 0 auto;
                .sht-item{
                    
                }
            }
        }
        //韩国院校
        .s-guo {
            .sg-introdution {
                width: 95%;
                height: auto;
                margin: 0 auto;
                font-size: 20px;
            }
            .sg-shouer {
                width: 80%;
                height: auto;
                margin: 0 auto;
                margin-top: 80px;
                .sgs-top {
                    width: 100%;
                    height: auto;
                    overflow: hidden;
                    img {
                        width: 1030px;
                        height: auto;
                    }
                }
                .sgs-imgs {
                    flex-wrap: wrap;
                    font-size: 0;
                    .sgs-left {
                        width: 100%;
                        height: auto;
                        font-size: 0;
                    }
                    .sgs-right {
                        width: 100%;
                        height: auto;
                        font-size: 0;
                    }
                }
            }
            h2 {
                font-size: 30px;
            }
            .sg-text2 {
                width: 95%;
                height: auto;
                margin: 0 auto;
                font-size: 20px;
            }
            .sg-end {
                width: 95%;
                height: auto;
                flex-wrap: wrap;
                display: block;
                img {
                    width: 100%;
                    height: auto;
                    &:first-child {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}